<div class="row text-left">
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <!--Collapsible Accordion Starts-->
      <div class="card-body">
        <img src="assets/img/sequence ajout document .png" width="600px">
      </div>
    </div>
    <!--Collapsible Accordion Ends-->
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Document Informations</h4>
      </div>
      <div class="card-body">
        <!--One open panel at a time Starts-->
        <ngb-accordion [closeOthers]="true" activeIds="1">
          <ngb-panel id="static-1" title="General Information">
            <ng-template ngbPanelContent>
              <p class="m-0">Title : {{document.Titre}}</p>
              <p class="m-0">Date Upload : {{document.Date | date: "dd/MM/yyyy"}}</p>
              <p class="m-0">uploaded By : {{document.user.fullName}}</p>
              <p class="m-0">State : {{document.CurrentState}}</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2" title="Document States">
            <ng-template ngbPanelContent>
              <div *ngFor="let state of states" class="badge" [ngClass]="{
                'bg-light-primary': state.stateDocument == '0',
                'bg-light-success': state.stateDocument == '3',
                'bg-light-danger': state.stateDocument == '4'
                }">
                <p>Step Number : {{state.stepNumber}}</p>
                <p>Action : {{state.action}}</p>
                <p>State : {{state.stateDocument}}</p>
                <p>Comment : {{state.comment}}</p>
              </div>
              <!-- <span class="badge bg-light-primary mb-1 mr-2">
                <p>State Number : </p>
                <p>Action : </p>
                <p>User : </p>
                <p>State : </p>
                <p>Comment :</p>
              </span> -->
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <!--One open panel at a time Ends-->
      </div>
    </div>
  </div>
</div>