<p>Users > Edit User</p>
<section class="users-edit">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- Nav-tabs -->
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-user mr-1"></i>
                  <span class="d-none d-sm-block">Account</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Account content starts -->
                  <div class="mt-2" id="account">
                    <!-- Account form starts -->
                    <form [formGroup]="updateForm" (submit)="updateUser()">
                      <div class="row">
                        <div class="col-12 col-md-6">

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-username">Username</label>
                              <input type="text" formControlName="userName" id="users-edit-username" class="form-control"
                                placeholder="Username" required 
                                [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.userName.invalid, 'is-valid': updateFormSubmitted && !rf.userName.invalid }"/>
                              <div *ngIf="updateFormSubmitted && (rf.userName.invalid || rf.userName.errors?.required)"
                                class="help-block mt-1 text-danger">
                                <i class="ft-alert-circle align-middle"></i>
                                User Name is required
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-name">Name</label>
                              <input type="text" formControlName="fullName" id="users-edit-name" class="form-control" placeholder="Name" required
                                [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.fullName.invalid, 'is-valid': updateFormSubmitted && !rf.fullName.invalid }"
                              />
                              <div *ngIf=" updateFormSubmitted && (rf.fullName.invalid || rf.fullName.errors?.required)" class="help-block mt-1 text-danger">
                                <i class="ft-alert-circle align-middle"></i>
                                Full Name is required
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-email">E-mail</label>
                              <input type="email" formControlName="email" id="users-edit-email" class="form-control" placeholder="Email" required
                              [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.email.invalid, 'is-valid': updateFormSubmitted && !rf.email.invalid }"
                              />
                              <div *ngIf=" updateFormSubmitted && (rf.email.invalid || rf.email.errors?.required)" class="help-block mt-1 text-danger">
                                <i class="ft-alert-circle align-middle"></i>
                                Email is required
                              </div>
                              <div *ngIf="updateFormSubmitted &&  rf.email.errors?.email" class="help-block mt-1 text-danger"> <i
                                class="ft-alert-circle align-middle"></i> Email must be a valid email address</div>
                            </div>
                          </div>

                        </div>

                        <div class="col-12 col-md-6">

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-role">Role</label>
                              <select id="users-edit-role" class="form-control" required formControlName="role" 
                              [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.role.invalid, 'is-valid': updateFormSubmitted && !rf.role.invalid }">
                                <option value="user.role" selected>{{ user.role }}</option>
                                <option *ngFor="let role of roles">{{ role.Role }}</option>
                              </select>
                              <div *ngIf=" updateFormSubmitted && (rf.role.invalid || rf.role.errors?.required)" class="help-block mt-1 text-danger">
                                <i class="ft-alert-circle align-middle"></i>
                                Role is required
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-phone">Position</label>
                              <input type="text" formControlName="position" id="users-edit-phone" class="form-control"
                                placeholder="Position" required 
                                [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.position.invalid, 'is-valid': updateFormSubmitted && !rf.position.invalid }"/>
                              <div *ngIf="updateFormSubmitted && (rf.position.invalid || rf.position.errors?.required)" class="help-block mt-1 text-danger"> 
                                <i class="ft-alert-circle align-middle"></i> Position must be a valid</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-address">Function</label>
                              <input type="text" formControlName="function" id="users-edit-address" class="form-control"
                                placeholder="Address" required
                                [ngClass]="{ 'is-invalid': updateFormSubmitted && rf.function.invalid, 'is-valid': updateFormSubmitted && !rf.function.invalid }"/>
                              <div *ngIf=" updateFormSubmitted && (rf.function.invalid || rf.function.errors?.required)" class="help-block mt-1 text-danger">
                                  <i class="ft-alert-circle align-middle"></i>
                                  Function is required
                              </div>
                            </div>
                          </div>

                        </div>
                        <div
                          class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" >Save Changes</button>
                          <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                      </div>
                    </form>
                    <!-- Account form ends -->
                  </div>
                  <!-- Account content ends -->
                </ng-template>
              </li>

              <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-info mr-1"></i>
                  <span class="d-none d-sm-block">Information</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information content starts -->
                  <div class="mt-2" id="information">
                    <!-- Information form starts -->
                    <form [formGroup]="updateForm" (submit)="updateUser2()">
                      <div class="row">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                          <h4 class="mb-3"><i class="ft-link mr-2"></i>Social Links</h4>
                          <div class="form-group">
                            <label for="users-edit-facebook">Facebook</label>
                            <input type="text" id="users-edit-facebook" class="form-control" formControlName="facebook">
                          </div>
                          <div class="form-group">
                            <label for="users-edit-google">Google+</label>
                            <input type="text" id="users-edit-google" class="form-control" formControlName="google">
                          </div>
                          <div class="form-group">
                            <label for="users-edit-linkedin">LinkedIn</label>
                            <input type="text" id="users-edit-linkedin" class="form-control" formControlName="linkedin">
                          </div>
                        </div>

                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <h4 class="mb-3"><i class="ft-user mr-2"></i>Personal Info</h4>
                          <div class="form-group">
                            <div class="controls position-relative">
                              <label for="users-edit-bday">Birth date</label>
                              <input type="text" id="users-edit-bday" class="form-control birthdate-picker" required formControlName="birthDate">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-phone">Phone</label>
                              <input type="phone" id="users-edit-phone" class="form-control" formControlName="phoneNumber" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="controls">
                              <label for="users-edit-address">Address</label>
                              <input type="text" id="users-edit-address" class="form-control" formControlName="adresse" required>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end flex-sm-row flex-column mt-3 mt-sm-0">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save Changes</button>
                          <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                      </div>
                    </form>
                    <!-- Information form ends -->
                  </div>
                  <!-- Information content ends -->
                </ng-template>
              </li>
            </ul>
            <div class="tab-content">
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
